<footer class="footer">
    <h2 class="footer__title">Team Members</h2>
    <div class="footer__members-groups">
        <div class="footer__members-group1">
            <a href="#">Alexander</a>
            <a href="#">May</a>
        </div>
        <div class="footer__members-group2">
            <a href="#">Yevhenii</a>
            <a href="#">Jasmine</a>
        </div>
    </div>
    <a class="footer__member-dmitar" href="#">Dimitar</a>
</footer>