<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <header class="header">
        <h1 class="header__title"><a href="/">Zenith</a></h1>
        <div class="navbar">
            <a href="/birds" class="navbar__link">Birds</a>
            <a href="/mammals" class="navbar__link">Mammals</a>
            <a href="/reptiles" class="navbar__link">Reptiles</a>
        </div>
    </header>
</body>
</html>
