<header class="header">
    <h1 class="header__title"><a href="/"><%= headerTitle %></a></h1>
    <div class="navbar">
        <a href="/birds" class="navbar__link">Birds</a>
        <a href="/mammals" class="navbar__link">Mammals</a>
        <a href="/reptiles" class="navbar__link">Reptiles</a>
    </div>
</header>