<% if (locals.group === "home") { %>
    <main class="main-content">
        <section class="showcase">
            <video src="assets/videos/Animal-zoo-video.mp4" muted loop autoplay></video>
            <div class="overlay"></div>
            <div class="welcome-container">
                <h2>Welcome to the Green Labyrinth</h2>
                <p>A plethora of animals to explore and learn about to your heart's content. Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quidem, porro! Lorem ipsum dolor sit amet.</p>
        </section>
    </main>
<% } %>
