<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <h1 class="header__title"><%=title%></h1>
    <p class="header__title"><%=subtitle%></p>
    <img src="<%=image%>" alt="" width="200">
  </body>
</html>
