<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<<<<<<< HEAD
    <%- include("../partials/header.ejs") %>
</body>
</html>
=======

</body>
</html>
>>>>>>> future/resetFileCss
